/VentasOrdenadores/nbproject/private/
/VentasOrdenadores/build/
/GestionDeUnAlmacen/nbproject/private/
/GestionDeUnAlmacen/build/
/GestionDeUnAlmacen/dist/
/Formulario/nbproject/private/
/Formulario/build/
/GestiónPedidos/nbproject/private/
/GestiónPedidos/build/