/VentasOrdenadores/nbproject/private/
/VentasOrdenadores/build/
/GestionDeUnAlmacen/nbproject/private/
/GestionDeUnAlmacen/build/
/GestionDeUnAlmacen/dist/
/Formulario/nbproject/private/
/Formulario/build/
/GestiónPedidos/nbproject/private/
/GestiónPedidos/build/
/GestorBD/dist/
/Evaluable5/nbproject/private/
/Evaluable5/build/
/Evaluable5/dist/
/Evaluable4/build/